@import "~@nativescript/theme/core";
@import "~@nativescript/theme/blue";

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// Font icon class
.fab {
    font-family: "Raleway-Bold";
    font-weight: 400;
}

.fas {
    font-family: "Raleway-Bold";
    font-weight: 900;
}

.far {
    font-family: "Raleway-Bold";
    font-weight: 400;
}
